TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
TELEGRAM_API_BASE_URL=https://api.telegram.org
TELEGRAM_POLL_INTERVAL=2

LINKEDIN_ACCESS_TOKEN=your_linkedin_access_token
LINKEDIN_PERSON_ID=your_linkedin_person_id
LINKEDIN_API_URL=https://api.linkedin.com/rest
LINKEDIN_VERSION=202506
LINKEDIN_RESTLI_PROTOCOL_VERSION=2.0.0

AWS_REGION=us-east-1
BEDROCK_TEXT_MODEL_ID=amazon.nova-pro-v1:0
BEDROCK_IMAGE_MODEL_ID=amazon.nova-canvas-v1:0
# DYNAMODB_TABLE_NAME=LinkedInTopics
TOPIC_ID=1
TOPICS_FILE=topics.json

DRAFTS_FILE=_drafts.json
POST_DIR=agents/writer/post
RESEARCH_DIR=agents/researcher/research
IMAGES_DIR=agents/image/images
